.header-top, .text{
   color: rgb(250,190,76);
}
.buy-now-button{
   background-color: rgb(164,180,70);
   color:white;
   border: none;
   border-radius: 8px;
   padding: 9px 25px;
   cursor: pointer;
   height:80px;
   width: 200px;
}
.winter{
   color: rgb(21, 21, 80);
}
.footer{
   display: flex;
}
.fashion-card{
   border: none;
   border-radius: 10px;
   box-shadow: 5px 5px 10px lightgrey;
}